.AllContainer{
    width: 60%;
    margin: auto;
    height: 100%;
}

.Title{
    margin-bottom: 5%;
    margin-top: 5%;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    border-bottom: 1px solid black;
    
}

.product-form{
    width: 90%;
}

.container{
    display: flex;
    justify-content: space-between;
    margin: 4%;
    margin-bottom: 8%;
}

.label{
    padding: 2%;
    font-size: larger;
    width: 15%;
}

::placeholder{
    color: black;
}

.inputs{
    width: 40%;
    padding: 2%;
    font-size: larger;
}

.submit-btn{
    margin: auto;
    background-color: rgb(0,140,149);
}

.submit{
    width: 100%;
    line-height: 3em;
    background-color: rgb(0,140,149);
    border: 0;
    color: white;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}